---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Remplazo de bateria",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "Up to 3 users",
      "Unlimited Pages",
      "Astro Sub domain",
      "Basic Integrations",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Reparacion de pantalla",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "iPhone 13, 13 Pro, 13 Mini",
      "iPhone 12, 12 Pro, 12 Mini",
      "iPhone 11, 11 Pro, 11 Pro Max",
      "iPhone X, XR, XS, XS Max",
      "iPhone 13, 13 Pro, 13 Mini",
      "iPhone 12, 12 Pro, 12 Mini",
      "iPhone 11, 11 Pro, 11 Pro Max",
      "iPhone X, XR, XS, XS Max",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Precios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precios</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-screen-lg mt-12">
      <PricingCard />
      <PricingCard />
    </div>
  </Container>
</Layout>
