<div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-16">
  <table
    class="w-full text-md rtl:text-right text-gray-500 dark:text-gray-400 text-center">
    <thead
      class="text-md text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-4 py-3"> Modelo </th>
        <th scope="col" class="px-4 py-3"> Bateria </th>
        <th scope="col" class="px-4 py-3"> Pantalla </th>
        <th scope="col" class="px-4 py-3"> Cámara trasera </th>
        <th scope="col" class="px-4 py-3"> Cristal trasero </th>
      </tr>
    </thead>
    <tbody>
      <!-- iPhone 16 Models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Pro Max
        </th>
        <td class="px-6 py-4">$3,159</td>
        <td class="px-6 py-4">$11,598</td>
        <td class="px-6 py-4">$6,634</td>
        <td class="px-6 py-4">$5,596</td>
       
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Pro
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4">$10,239</td>
        <td class="px-6 py-4">$6,634</td>
        <td class="px-6 py-4">$5,003</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$10,239</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$5,596</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4"> $8,880</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$5,003</td>
      </tr>

      <!-- iphone 15 models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Pro Max
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$10,825</td>
        <td class="px-6 py-4">$6,634</td>
        <td class="px-6 py-4">$5,596</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Pro
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$9,566</td>
        <td class="px-6 py-4">$5,991</td>
        <td class="px-6 py-4">$5,003</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Plus
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$9,566</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$5,596</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$8,308</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$5,003</td>
      </tr>

      <!-- iphone 14 models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14 Pro Max
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$10,383</td>
        <td class="px-6 py-4">$5,991</td>
        <td class="px-6 py-4">$15,692</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14 Pro
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$9,182</td>
        <td class="px-6 py-4">$5,991</td>
        <td class="px-6 py-4">$14,376</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14 Plus
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4">$9,182</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$5,596</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14
        </th>
        <td class="px-6 py-4">$2,855</td>
        <td class="px-6 py-4"> $7,980</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$5,554</td>
      </tr>

      <!-- iphone 13 models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13 Pro Max
        </th>
        <td class="px-6 py-4">$2,719</td>
        <td class="px-6 py-4">$9,182</td>
        <td class="px-6 py-4">$5,596</td>
        <td class="px-6 py-4">$13,826</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13 Pro
        </th>
        <td class="px-6 py-4">$2,719</td>
        <td class="px-6 py-4"> $7,980</td>
        <td class="px-6 py-4">$5,596</td>
        <td class="px-6 py-4">$12,510</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13 Mini
        </th>
        <td class="px-6 py-4">$2,719</td>
        <td class="px-6 py-4">$6,779</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$8,624</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13
        </th>
        <td class="px-6 py-4">$2,719</td>
        <td class="px-6 py-4">$7,980</td>
        <td class="px-6 py-4">$4,954</td>
        <td class="px-6 py-4">$9,879</td>
      </tr>

            <!-- iphone 12 models -->
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12 Pro Max
              </th>
              <td class="px-6 py-4">$2,719</td>
              <td class="px-6 py-4">$9,182</td>
              <td class="px-6 py-4">$5,596</td>
              <td class="px-6 py-4">$13,826</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12 Pro
              </th>
              <td class="px-6 py-4">$2,719</td>
              <td class="px-6 py-4">$7,980</td>
              <td class="px-6 py-4">$5,596</td>
              <td class="px-6 py-4">$12,510</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12 Mini
              </th>
              <td class="px-6 py-4">$2,719</td>
              <td class="px-6 py-4">$6,779</td>
              <td class="px-6 py-4">$4,954</td>
              <td class="px-6 py-4">$9,173</td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12
              </th>
              <td class="px-6 py-4">$2,719</td>
              <td class="px-6 py-4">$7,980</td>
              <td class="px-6 py-4">$4,954</td>
              <td class="px-6 py-4">$10,429</td>
            </tr>
    </tbody>
  </table>
</div>

<p class="text-sm text-slate-600">Inspeccionaremos el producto cuando lo recibamos. Si se detectan otros problemas, podrías pagar tarifas adicionales. Todas las tarifas se expresan en pesos mexicanos y están sujetas a impuestos.
</p>
