<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead
      class="text-md text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3"> Modelo </th>
        <th scope="col" class="px-6 py-3"> Bateria </th>
        <th scope="col" class="px-6 py-3"> Pantalla </th>
        <th scope="col" class="px-6 py-3"> Cámara trasera </th>
        <th scope="col" class="px-6 py-3"> Cristal trasero </th>
      </tr>
    </thead>
    <tbody>
      <!-- iPhone 16 Models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Pro Max
        </th>
        <td class="px-6 py-4"> Silver </td>
        <td class="px-6 py-4"> Laptop </td>
        <td class="px-6 py-4"> $2999 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Pro
        </th>
        <td class="px-6 py-4"> White </td>
        <td class="px-6 py-4"> Laptop PC </td>
        <td class="px-6 py-4"> $1999 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>

      <!-- iphone 15 models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Pro Max
        </th>
        <td class="px-6 py-4"> Silver </td>
        <td class="px-6 py-4"> Laptop </td>
        <td class="px-6 py-4"> $2999 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Pro
        </th>
        <td class="px-6 py-4"> White </td>
        <td class="px-6 py-4"> Laptop PC </td>
        <td class="px-6 py-4"> $1999 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Plus
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>

      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
      <tr class="bg-white dark:bg-gray-800">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4"> Black </td>
        <td class="px-6 py-4"> Accessories </td>
        <td class="px-6 py-4"> $99 </td>
        <td class="px-6 py-4">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p class="text-sm text-slate-600">Inspeccionaremos el producto cuando lo recibamos. Si se detectan otros problemas, podrías pagar tarifas adicionales. Todas las tarifas se expresan en pesos mexicanos y están sujetas a impuestos.
</p>
