<div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-16">
  <table
    class="w-full text-md text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead
      class="text-md text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3"> Modelo </th>
        <th scope="col" class="px-6 py-3"> Bateria </th>
        <th scope="col" class="px-6 py-3"> Pantalla </th>
        <th scope="col" class="px-6 py-3"> Cámara trasera </th>
        <th scope="col" class="px-6 py-3"> Cristal trasero </th>
      </tr>
    </thead>
    <tbody>
      <!-- iPhone 16 Models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Pro Max
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
       
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Pro
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16 Plus
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 16
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>

      <!-- iphone 15 models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Pro Max
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Pro
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15 Plus
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 15
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>

      <!-- iphone 14 models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14 Pro Max
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14 Pro
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14 Plus
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 14
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>

      <!-- iphone 13 models -->
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13 Pro Max
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13 Pro
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13 Mini
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          iPhone 13
        </th>
        <td class="px-6 py-4"> $3,159 </td>
        <td class="px-6 py-4"> $11,599 </td>
        <td class="px-6 py-4"> $6,639 </td>
        <td class="px-6 py-4"> $5,599 </td>
      </tr>

            <!-- iphone 12 models -->
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12 Pro Max
              </th>
              <td class="px-6 py-4"> $3,159 </td>
              <td class="px-6 py-4"> $11,599 </td>
              <td class="px-6 py-4"> $6,639 </td>
              <td class="px-6 py-4"> $5,599 </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12 Pro
              </th>
              <td class="px-6 py-4"> $3,159 </td>
              <td class="px-6 py-4"> $11,599 </td>
              <td class="px-6 py-4"> $6,639 </td>
              <td class="px-6 py-4"> $5,599 </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12 Mini
              </th>
              <td class="px-6 py-4"> $3,159 </td>
              <td class="px-6 py-4"> $11,599 </td>
              <td class="px-6 py-4"> $6,639 </td>
              <td class="px-6 py-4"> $5,599 </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                iPhone 12
              </th>
              <td class="px-6 py-4"> $3,159 </td>
              <td class="px-6 py-4"> $11,599 </td>
              <td class="px-6 py-4"> $6,639 </td>
              <td class="px-6 py-4"> $5,599 </td>
            </tr>
    </tbody>
  </table>
</div>

<p class="text-sm text-slate-600">Inspeccionaremos el producto cuando lo recibamos. Si se detectan otros problemas, podrías pagar tarifas adicionales. Todas las tarifas se expresan en pesos mexicanos y están sujetas a impuestos.
</p>
